.movie {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__details {
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__content {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &--title {
      font-weight: 700;
    }
  }

  &__actions {
    display: flex;
    column-gap: 2rem;
  }
}

.modal {
  display: block;
  background-color: rgba(#000000, 0.5);
}
